In [28]:

import pandas as pd

for i in range(1,6):
    file = "teste_" + str(i) + ".txt"
    
    with open(file) as f:
        linhas = f.readlines()
        f.close
        
        linhas = linhas[linhas.index("TESTE\n")+1:]
        
        file_csv = file + ".csv"
        
        with open(file_csv, 'w') as f:
            for j in linhas:
                f.write(j)
                
            f.close
            
        df = pd.read_csv(file_csv, engine = 'python')

df.head()

    ID      A         B
0  201  40401  0.004975
1  202  40804  0.004950
2  203  41209  0.004926
3  204  41616  0.004902
4  205  42025  0.004878

In [41]:
import pandas as pd

for i in range(1,6):
    file = "teste_" + str(i) + ".txt"
    
    with open(file) as f:
        linhas = f.readlines()
        f.close
        
        skiprows = linhas.index("TESTE\n")+1
            
        df = pd.read_csv(file, skiprows = skiprows)

#df.head()
df

     ID      A         B
0   201  40401  0.004975
1   202  40804  0.004950
2   203  41209  0.004926
3   204  41616  0.004902
4   205  42025  0.004878
5   206  42436  0.004854
6   207  42849  0.004831
7   208  43264  0.004808
8   209  43681  0.004785
9   210  44100  0.004762
10  211  44521  0.004739
11  212  44944  0.004717
12  213  45369  0.004695
13  214  45796  0.004673
14  215  46225  0.004651
15  216  46656  0.004630
16  217  47089  0.004608
17  218  47524  0.004587
18  219  47961  0.004566
19  220  48400  0.004545
20  221  48841  0.004525
21  222  49284  0.004505
22  223  49729  0.004484
23  224  50176  0.004464
24  225  50625  0.004444
25  226  51076  0.004425
26  227  51529  0.004405
27  228  51984  0.004386
28  229  52441  0.004367
29  230  52900  0.004348
30  231  53361  0.004329
31  232  53824  0.004310
32  233  54289  0.004292
33  234  54756  0.004274
34  235  55225  0.004255
35  236  55696  0.004237
36  237  56169  0.004219
37  238  56644  0.004202
38  239  57121  0.004184
39  240  57600  0.004167
40  241  58081  0.004149
41  242  58564  0.004132
42  243  59049  0.004115
43  244  59536  0.004098
44  245  60025  0.004082
45  246  60516  0.004065
46  247  61009  0.004049
47  248  61504  0.004032
48  249  62001  0.004016
49  250  62500  0.004000

In [43]:
df.to_csv("teste.csv")

In [44]:
df.to_excel("teste.xlsx")